        /* Estilos CSS para o header */
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        body{
            font-family: "Montserrat";
            margin: 0px;
        }

        header {
            background-color: #22209d;
            padding: 5px;
            color: #000000; /* Cor do texto */
            display: fixed; /* Ativar flexbox */
            justify-content: space-between; /* Distribuir os itens ao longo do header */
            align-items: center; /* Alinhar itens verticalmente */
        }
        .header-buttons {
            list-style-type: none; /* Remover marcadores de lista */
            margin: 0px;
            padding: 0;
            display: flex; /* Ativar flexbox para os botões */
            align-items: center;
        }

        .header-buttons li {
            margin-left: 0; /* Espaçamento entre os botões */
        }
        .header-buttons li:first-child {
            margin-left: 0; /* Remover margem do primeiro botão */
            margin-right: auto; /* Empurrar para a esquerda */
        }

        .header-buttons li a {
            color: #ffffff;
            text-decoration: none; /* Remover sublinhado dos links */
            padding: 8px 15px; /* Espaçamento interno do botão */
        }

.header-buttons img{
    height: 50px;
}
        
.search-box{
    color: #000000;
    text-align: center;
display: flex;
justify-content: space-evenly;
padding: 10px;


}
.search-box input {
    height: 25px;
    border-radius: 8px;
    border-width: 1px;
}
.campo{
    font-size: 15pt;
    margin-top: 10px;
    min-width: 200px;
    width: 200px;
    display: inline-block;
    
}
#search{
    display: block;
    font-size: 15pt;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fea700;
    color: #ffffff;
    height: 30px;
    border: 0;
    border-radius: 10px;
}
#search:hover{
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    padding-bottom: 50px;
    margin: 30px;
    width: 300px;
    height: 300px;
}

.item img{
height: 80%;
width: 100%;
    border-radius: 20px;
}
.linha_preco_avaliacao{
    display: flex;
    justify-content: space-between;
}
h2{
    margin: 0;
}
.bairro{
    margin: 0;
}
h3{
    margin-top: 10px;
}
#pin{
    width: 15px;
}
